<div class="row">
  <div class="col-sm-8">
    <div class="row">
      <div class="col-xs-12">
        <img class="hero" src="https://upload.wikimedia.org/wikipedia/commons/e/e3/Seattle_Kerry_Park_Skyline.jpg">
      </div>
    </div>
    <h1>Latest Posts from BlogPulse</h1>

    <% articles.forEach(function(a) { %>
      <div class="well">
        <h2>
          <a href="/articles/<%= a.id %>"><%= a.title %></a>
          <small>by <%= a.author %></small>
          <!-- for some reason, line 14 breaks when i keep it with a.author.getFullName() even though this is the code from Taylor's repo??? it won't even work when i try to call firstName or lastName individually. the error seems to stem from the "author" table but i don't see any issues with it. i cannot find the issue anywhere -->
        </h2>
        <p>
          <strong><%= moment(a.createdAt).calendar() %></strong>
        </p>
      </div>
    <% }) %>

  </div>
  <div class="col-sm-4">
    <h2>About</h2>
    <p>BlogPulse is an up-and-coming player in the global media market,
    providing user-generated content across all topics.</p>
  </div>
</div>
